<section class="section--par">
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="{{ paragraph.entity.field_button.0.uri | replace({"internal:":""})}}" target="_blank" class="btn btn-primary">
          {{ paragraph.entity.field_button.0.title}}
        </a>
      </div>
    </div>
  </div>
</section>
