<section class="section--text section--par">
  <div class="container">
    <div class="row">
      <div class="par-text">
        {{ paragraph.entity.field_text.value | raw }}
      </div>
    </div>
  </div>
</section>
