<section class="section--home-landing">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>creative web design & development</h1>
      </div>
    </div>
    <div class="row row--landing">
      <div class="col-8">
        <img src="/portfolio-7/web/themes/custom/custom_bootstrap_sass/images/placeholder.jpg" alt="" class="landing-image">
      </div>
      <div class="col-3 offset-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa eligendi eos nostrum recusandae repellat soluta! Aspernatur delectus dolore doloribus eos, excepturi minus nesciunt tempora tenetur. Dolorum laudantium maxime ratione.</p>
        <a role="button" href="" class="btn btn-primary btn-arrow">
          Reading guide
        </a>
      </div>
    </div>
  </div>
</section>
