<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1><span>P</span>rojects</h1>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="projects overview-projects">
        {{ views.custom_bootstrap_sass_views_block__projects_block_2 }}
      </div>
    </div>
  </div>
</section>
