<section class="section--landing">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1><span>c</span>reative webdesign <span>&</span> <span>d</span>evel <img src="/portfolio-7/web/themes/custom/custom_bootstrap_sass/images/star-2.svg" alt="" class="star landing-star landing-star--inline"> pment</h1>
      </div>
    </div>
  </div>
</section>
<section class="section--cta">
  <div class="container">
    <div class="row row--landing">
      <div class="col-8 position-relative">
        <img class="paralax" src="{{ node.field_jumbo.entity.field_media_image.entity.uri.value | image_style('basic') }}" alt="">
        <img src="/portfolio-7/web/themes/custom/custom_bootstrap_sass/images/circ-text-1.png" class="landing-text--circ text--circ" alt="">
      </div>
      <div class="col-3 offset-1">
        <p>
          {{ node.field_intro.value | raw }}
        </p>
        <a role="button" href="" class="btn btn-primary btn-arrow">
          Learning goals
        </a>
      </div>
    </div>
  </div>
</section>
<section class="section--work">
  <div class="container">
    <div class="row">
      <div class="title">
        <h4>
          Selected work
        </h4>
      </div>
    </div>
    <div class="row position-relative">
      <div class="home-projects">
        <div class="home-project">
          <a href="/portfolio-7/web/promo"><h3>PROMO</h3></a>
        </div>
        <div class="home-project">
          <h3>Lorem ipsum</h3>
        </div>
        <div class="home-project">
          <h3>Lorem ipsum</h3>
        </div>
      </div>
      <div class="home-projects-img">
        <img src="/portfolio-7/web/themes/custom/custom_bootstrap_sass/images/placeholder.jpg" alt="" class="paralax-2">
      </div>
    </div>
  </div>
</section>
<section class="section--home-usps">
  <div class="container">
    <div class="row">
      <div class="title">
        <h4>
          What I do
        </h4>
      </div>
    </div>
    <div class="row home-usps">
      <div class="usp">
        <div class="usp-text">
          <h2>Ux Design</h2>
          <hr>
          <p class="usp-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, temporibus tenetur. At fugit incidunt, nostrum quas repellendus sapiente voluptatibus. Commodi culpa dignissimos dolorem illum, incidunt inventore saepe soluta tenetur voluptatibus.</p>
        </div>
        <div class="usp-media paralax-of">
          <img src="/portfolio-7/web/themes/custom/custom_bootstrap_sass/images/placeholder.jpg" alt="">
        </div>
      </div>
      <div class="usp">
        <div class="usp-text">
          <h2>Front-end Dev.</h2>
          <hr>
          <p class="usp-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, temporibus tenetur. At fugit incidunt, nostrum quas repellendus sapiente voluptatibus. Commodi culpa dignissimos dolorem illum, incidunt inventore saepe soluta tenetur voluptatibus.</p>
        </div>
        <div class="usp-media paralax-of">
          <img src="/portfolio-7/web/themes/custom/custom_bootstrap_sass/images/placeholder.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
