<section class="section--home-landing">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>creative web design & development</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <img src="/portfolio-7/web/themes/custom/custom_bootstrap_sass/images/placeholder.jpg" alt="" class="landing-image">
      </div>
    </div>
  </div>
</section>
