<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>creative web design & development</h1>
      </div>
    </div>
    <div class="row row--landing">
      <div class="col-8 position-relative">
        <img src="/portfolio-7/web/themes/custom/custom_bootstrap_sass/images/placeholder.jpg" alt="" class="landing-img paralax">
        <img src="/portfolio-7/web/themes/custom/custom_bootstrap_sass/images/circ-text-1.png" class="landing-text--circ text--circ" alt="">
      </div>
      <div class="col-3 offset-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa eligendi eos nostrum recusandae repellat soluta! Aspernatur delectus dolore doloribus eos, excepturi minus nesciunt tempora tenetur. Dolorum laudantium maxime ratione.</p>
        <a role="button" href="" class="btn btn-primary btn-arrow">
          Reading guide
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <h4>
        Selected work
      </h4>
    </div>
    <div class="row position-relative">
      <div class="home-projects">
        <div class="home-project">
          <h3>Lorem ipsum</h3>
          <span>PROMO</span>
        </div>
        <div class="home-project">
          <h3>Lorem ipsum</h3>
          <span>PROMO</span>
        </div>
        <div class="home-project">
          <h3>Lorem ipsum</h3>
          <span>PROMO</span>
        </div>
      </div>
      <div class="home-projects-img">
        <img src="/portfolio-7/web/themes/custom/custom_bootstrap_sass/images/placeholder.jpg" alt="" class="paralax-2">
      </div>
    </div>
  </div>
</section>
<section class="section--home-usps">
  <div class="container">
    <div class="row">
      <h4>
        What I do
      </h4>
    </div>
    <div class="row">
      <div class="home-usp-imgs">
        <img class="home-usp-img" src="/portfolio-7/web/themes/custom/custom_bootstrap_sass/images/placeholder.jpg" alt="">
        <img class="home-usp-img" src="/portfolio-7/web/themes/custom/custom_bootstrap_sass/images/placeholder.jpg" alt="">
      </div>
      <div class="home-usp-body">
        <h2>Ux Design</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, temporibus tenetur. At fugit incidunt, nostrum quas repellendus sapiente voluptatibus. Commodi culpa dignissimos dolorem illum, incidunt inventore saepe soluta tenetur voluptatibus.</p>
      </div>
    </div>
  </div>
</section>
