<footer>
  <div class="container footer-container">
    <div class="row">
      <div class="col">
        <h4>
          Learning goals
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="footer-title">
        <h2>
          <span>L</span>earning go<span>a</span>ls
        </h2>
      </div>
      <div class="footer-cta">
        <a href="./learning-goals" class="footer-link">
          <img src="/portfolio-7/web/themes/custom/custom_bootstrap_sass/images/circ-text-2.png" class="text--circ footer-text--circ" alt="">
          <i class="bi bi-arrow-right-short footer-link-arrow"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="footer-brand">
        <h5>Zjuul Rovers</h5>
      </div>
      <div class="footer-cr">
        <p>2023 © All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
