<header>
  <div class="container">
    <div class="row nav">
      <div class="nav-col nav-brand">
        <a class="nav-logo" href="/portfolio-7/web">
          <h5>
            Zjuul Rovers
          </h5>
        </a>
      </div>
      <div class="nav-col nav-links">
        <a role="button" class="btn btn-primary btn-arrow">
          Get in touch
        </a>
        <a role="button" class="btn btn-primary nav-menu-btn">
          <i class="bi bi-list nav-menu-icon"></i>
        </a>
      </div>
    </div>
  </div>
</header>
<div class="menu">
  <div class="container menu-container">
    <div class="row nav">
      <div class="nav-col nav-brand">
        <a class="nav-logo nav-logo--alt" href="/portfolio-7/web">
          <h5>
            Zjuul Rovers
          </h5>
        </a>
      </div>
      <div class="nav-col nav-links">
        <a role="button" class="btn btn-secondary btn-arrow">
          Get in touch
        </a>
        <a role="button" class="btn btn-secondary nav-menu-btn">
          <i class="bi bi-list nav-menu-icon"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="menu-links">
        <a class="menu-link" href="">Goals</a>
        <a class="menu-link" href=""><span>P</span>rojects</a>
        <a class="menu-link" href=""><span>C</span>ontact</a>
      </div>
      <div class="menu-footer">
        <p>2023 © All rights reserved</p>
      </div>
    </div>
  </div>
</div>
